/*Parsear los estilos en general*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
// Definir variables para la fuente
$font-family-base: 'Montserrat', sans-serif;
$font-weight-medium: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/*Definicion de variables y mixins*/
$azul-principal: #282D46;
$negro: #333333;
$blanco: #F0F0F0;
$amarillo-secundario: #F2B728;

body {
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
}

.background-azul{
    background-color: $azul-principal;
}
.texto-blanco-propio{
    color: $blanco
}
/* Añadir al archivo CSS */
.group {
    border: 2px solid black;
}
.group:hover::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    border: 5px solid $amarillo-secundario;
    box-sizing: border-box;
}
/* Añadir al archivo CSS */
.borde-interior {
    position: relative;
    padding: 5px; /* Ajusta el padding para que el borde interior se vea bien */
}
.borde-interior::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 8px solid $amarillo-secundario; /* Grosor y color del borde interior */
    box-sizing: border-box;
    pointer-events: none; /* Asegura que el borde interior no interfiera con la interacción */
}